@import "variables.scss";

body {
    font-family: $font-family-base;
    font-size: $font-size-text-base;
    line-height: $line-height-text-base;
    font-weight: 400;
    color: $blue-gray-800;
    box-sizing: border-box;
}

header {
    background-color: $blue-gray-800;
}

.top-panel-buttons {
    display: flex;
    justify-content: end;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 0;
}

.top-panel-button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    color: $white;
    cursor: pointer;

    &__signup {
        &:hover {
            font-weight: bold;
        }

        &--img {
            margin-right: 0.5rem;
            fill: $white;
        }
    }

    &__adv {
        margin-left: 1.5rem;
        padding: 6px 12px;
        background-color: $blue-500;
        border-radius: 4px;

        &:hover {
            background-color: $blue-900;
        }

        &--img {
            margin-left: 0.5rem;
            fill: $white;
        }
    }
}

.header-panel-wrapper {
    padding: 1.5rem 0;
    border-bottom: 1px solid $blue-gray-200;
}

.header-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    &-title {
        margin-right: 0.5rem;
        font-size: $font-size-h4;
        line-height: $line-height-h4;
        font-weight: 700;

        @media (min-width: 768px) {
            font-size: $font-size-h3;
            line-height: $line-height-h3;
        }
    }

    &-menu-button {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 36px;
        padding: 8px 12px;
        color: $blue-500;
        border: 1px solid $blue-500;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: $blue-500;
            color: $white;

            svg {
                fill: $white;
            }
        }

        &--img {
            fill: $blue-500;
        }

        &--text {
            display: none;

            @media (min-width: 768px) {
                display: block;
                margin-left: 0.5rem;
                font-size: $font-size-sm;
                line-height: $line-height-sm;
            }
        }

        @media (min-width: 768px) {
            margin-left: 1.5rem;
        }
    }

    &-search {
        display: flex;
        flex-grow: 1;
        margin-top: 1rem;

        @media (min-width: 992px) {
            margin-left: 0.75rem;
            margin-top: 0;
        }

        &__input {
            height: 36px;
            width: 100%;
            padding-left: 12px;
            font-size: $font-size-sm;
            line-height: $line-height-sm;
            color: $blue-gray-500;
            border: 1px solid $blue-gray-300;
            border-right-width: 0;
            border-radius: 4px 0px 0px 4px;
            outline: none;

            &:focus {
                border-color: $blue-gray-500;
            }
        }

        &__btn {
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            height: 36px;
            padding: 8px 12px;
            font-size: $font-size-sm;
            line-height: $line-height-sm;
            color: $white;
            background-color: $blue-500;
            border-radius: 0px 4px 4px 0px;
            cursor: pointer;

            &:hover {
                background-color: $blue-900;
            }

            &--img {
                fill: $white;
                margin-left: 0.5rem;
            }
        }
    }
}

.main {
    margin-bottom: 5rem;
    text-align: center;

    @media (min-width: 576px) {
        text-align: left;
    }
}

.adv-preview-title {
    padding-top: 2rem;
    font-size: $font-size-h4;
    line-height: $line-height-h4;
    font-weight: 600;
}

.adv-preview-list {
    margin-top: 1.5rem;

    .adv-preview-item {
        margin-bottom: 1.5rem;
        cursor: pointer;

        &--img {
            display: block;
            border-radius: 4px;
            overflow: hidden;

            img {
                display: block;
                margin: 0 auto;
                border-radius: 4px;
                max-width: 100%;
                transition: all 0.5s ease-out;

                &:hover {
                    transform: scale3d(1.1, 1.1, 1.1);
                }

                @media (min-width: 768px) and (max-width: 991.98px) {
                    margin: 0;
                }
            }
        }

        &--title,
        &--price,
        &--address,
        &--date {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &--title {
            margin-top: 0.5rem;
            font-size: $font-size-h6;
            line-height: $line-height-text-base;
            font-weight: 600;
            color: $blue-500;
        }

        &--price {
            font-size: $font-size-h6;
            line-height: $line-height-text-base;
            font-weight: 600;
        }

        &--address,
        &--date {
            color: $blue-gray-500;
        }
    }
}
